{deps, [
  {basho_stats, "1.0.1", {git, "git://github.com/basho/basho_stats.git", "master"}},
  {ibrowse, "2.1.3", {git,"git://github.com/cmullaparthi/ibrowse.git", {tag, "v2.2.0"}}},
  {jiffy, "", {git, "https://github.com/davisp/jiffy.git", "master"}},
  {proper, "", {git, "https://github.com/manopapad/proper.git", "master"}}
]}.